    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total de Passos</span>
                        <div class="text-900 font-medium text-xl">{{this.steps}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-angle-double-right text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium"> </span>
                <span class="text-500"></span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Minutos ativos</span>
                        <div class="text-900 font-medium text-xl">{{this.activeMinutes}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-stopwatch text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium"> </span>
                <span class="text-500"></span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Distância percorrida</span>
                        <div class="text-900 font-medium text-xl">{{round(this.distance /1000)}} quilômetros</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-map text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">  </span>
                <span class="text-500"></span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Calorias queimadas</span>
                        <div class="text-900 font-medium text-xl">{{round(this.calories)}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-wifi text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium"> </span>
                <span class="text-500"></span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">BPM mais recente</span>
                        <div class="text-900 font-medium text-xl">{{round(this.heartCurrent)}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-heart text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium"> </span>
                <span class="text-500"></span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Menor BPM do dia</span>
                        <div class="text-900 font-medium text-xl">{{this.heartMin}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-heart text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium"> </span>
                <span class="text-500"></span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Maior BPM do dia</span>
                        <div class="text-900 font-medium text-xl">{{this.heartHigh}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-heart text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">  </span>
                <span class="text-500"></span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Altura</span>
                        <div class="text-900 font-medium text-xl">{{round(this.height)}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-sort-amount-up text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">  </span>
                <span class="text-500"></span>
            </div>
        </div>
        
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Peso</span>
                        <div class="text-900 font-medium text-xl">{{this.weight}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-window-minimize text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">  </span>
                <span class="text-500"></span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">IMC</span>
                        <div class="text-900 font-medium text-xl">{{round(this.weight / (this.height * this.height))}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-user-plus text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">  </span>
                <span class="text-500"></span>
            </div>
        </div>

        

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Data de referência</h5>
                <p-calendar [(ngModel)]="date" [showIcon]="true" dateFormat="yy-mm-dd" (onSelect)="onSelectDate()"></p-calendar>
            </div>
        </div>

</div>

