<div *ngIf="patient!.name !== undefined" class="p-fluid p-formgrid grid">

    <p-toast></p-toast>

    <p-card class="col-12 lg:col-12 md:col-12" header="{{ 'app.patient.record' | translate }}">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-10 lg:col-10 md:col-6">
                <input pInputText id="patient" [ngModel]="patient!.name![0].given!" />
            </div>
            <div class="field col-2 lg:col-2 md:col-2">
                <button pButton pRipple label="{{ 'app.back' | translate }}" (click)="previous()"></button>                  
            </div>
        </div>
        
        <div class="field col-12 lg:col-12 md:col-12">
            <p-tabView>
                <p-tabPanel header="{{ 'app.personal.data' | translate }}">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-2 lg:col-2 md:col-2">
                            <label for="identifier">{{ 'app.number' | translate }}</label>
                            <input pInputText id="identifier" [ngModel]="patient!.identifier![2].value!" />
                        </div>
                        <div class="field col-2 lg:col-2 md:col-2">
                            <label for="birth">{{ 'app.birthdate' | translate }}</label>
                            <input pInputText id="birth" [ngModel]="patient!.birthDate!" />
                        </div>
                        <div class="field col-2 lg:col-2 md:col-2">
                            <label for="gender">{{ 'app.gender' | translate }}</label>
                            <input pInputText id="gender" [ngModel]="patient!.gender!" />
                        </div>
                        <div class="field col-2 lg:col-2 md:col-2">
                            <label for="marital">{{ 'app.marital' | translate }}</label>
                            <input pInputText id="marital" [ngModel]="patient!.maritalStatus!.text!" />
                        </div>
                        <div class="field col-2 lg:col-2 md:col-2">
                            <label for="phone">{{ 'app.phone' | translate }}</label>
                            <input pInputText id="phone" [ngModel]="patient!.telecom![0].value!" />
                        </div>
                        <div class="field col-4 lg:col-4 md:col-4">
                            <label for="address">{{ 'app.address' | translate }}</label>
                            <input pInputText id="address" [ngModel]="patient!.address![0].line!" />
                        </div>
                        <div class="field col-2 lg:col-2 md:col-2">
                            <label for="cep">{{ 'app.zipcode' | translate }}</label>
                            <input pInputText id="cep" [ngModel]="patient!.address![0].postalCode!" />
                        </div>
                        <div class="field col-4 lg:col-4 md:col-4">
                            <label for="city">{{ 'app.city' | translate }}</label>
                            <input pInputText id="city" [ngModel]="patient!.address![0].city!" />
                        </div>
                        <div class="field col-2 lg:col-2 md:col-2">
                            <label for="state">{{ 'app.state' | translate }}</label>
                            <input pInputText id="state" [ngModel]="patient!.address![0].state!" />
                        </div>
                        
                    </div>
                </p-tabPanel>
                
                <p-tabPanel header="{{ 'app.encounters' | translate }}">
                    <div *ngIf="encounters.length > 0" class="field col-12 lg:col-12 md:col-12">
                        <p-table [value]="encounters">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ 'app.type' | translate }}</th>
                                    <th>{{ 'app.status' | translate }}</th>
                                    <th>{{ 'app.place' | translate }}</th>
                                    <th>{{ 'app.begin' | translate }}</th>
                                    <th>{{ 'app.end' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-encounter>
                                <tr>
                                    <td>{{ encounter.resource!.type[0].coding[0]!.display }}</td>
                                    <td>{{ encounter.resource!.status }}</td>
                                    <td>{{ encounter.resource!.serviceProvider.display }}</td>
                                    <td>{{ encounter.resource!.period.start }}</td>
                                    <td>{{ encounter.resource!.period.end }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="{{ 'app.procedures' | translate }}">
                    <div *ngIf="procedures.length > 0" class="field col-12 lg:col-12 md:col-12">
                        <p-table [value]="procedures">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ 'app.type' | translate }}</th>
                                    <th>{{ 'app.state' | translate }}</th>
                                    <th>{{ 'app.begin' | translate }}</th>
                                    <th>{{ 'app.end' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-procedure>
                                <tr>
                                    <td>{{ procedure.resource!.code!.coding[0]!.display }}</td>
                                    <td>{{ procedure.resource!.status }}</td>
                                    <td>{{ procedure.resource!.performedPeriod.start }}</td>
                                    <td>{{ procedure.resource!.performedPeriod.end }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="{{ 'app.medications' | translate }}">
                    <div *ngIf="medicationRequests.length > 0" class="field col-12 lg:col-12 md:col-12">
                        <p-table [value]="medicationRequests">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ 'app.status' | translate }}</th>
                                    <th>{{ 'app.order.date' | translate }}</th>
                                    <th>{{ 'app.medication' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-medicationRequest>
                                <tr>
                                    <td>{{ medicationRequest.resource!.status }}</td>
                                    <td>{{ medicationRequest.resource!.authoredOn }}</td>
                                    <td>{{ medicationRequest.resource!.medicationCodeableConcept.coding[0].display }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>   
                    
                </p-tabPanel>

                <p-tabPanel header="{{ 'app.allergies' | translate }}">
                    <div *ngIf="allergies !== undefined && allergies.length > 0" class="field col-12 lg:col-12 md:col-12">
                        <p-table [value]="allergies">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ 'app.type' | translate }}</th>
                                    <th>{{ 'app.category' | translate }}</th>
                                    <th>{{ 'app.clinical.status' | translate }}</th>
                                    <th>{{ 'app.verification' | translate }}</th>
                                    <th>{{ 'app.criticality' | translate }}</th>
                                    <th>{{ 'app.description' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-allergy>
                                <tr>
                                    <td>{{ allergy.resource!.type }}</td>
                                    <td>{{ allergy.resource!.category[0] }}</td>
                                    <td>{{ allergy.resource!.clinicalStatus.coding[0].code }}</td>
                                    <td>{{ allergy.resource!.verificationStatus.coding[0].code }}</td>
                                    <td>{{ allergy.resource!.criticality }}</td>
                                    <td>{{ allergy.resource!.code.coding[0].display }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>   
                    
                </p-tabPanel>

                <p-tabPanel header="{{ 'app.immunizations' | translate }}">
                    <div *ngIf="immunizations !== undefined && immunizations.length > 0" class="field col-12 lg:col-12 md:col-12">
                        <p-table [value]="immunizations">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ 'app.status' | translate }}</th>
                                    <th>{{ 'app.vaccine' | translate }}</th>
                                    <th>{{ 'app.date' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-immunization>
                                <tr>
                                    <td>{{ immunization.resource!.status }}</td>
                                    <td>{{ immunization.resource!.vaccineCode.coding[0].display }}</td>
                                    <td>{{ immunization.resource!.occurrenceDateTime }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>   
                    
                </p-tabPanel>

                <p-tabPanel header="{{ 'app.conditions' | translate }}/{{ 'app.diagnoses' | translate }}">
                    <div *ngIf="conditions !== undefined && conditions.length > 0" class="field col-12 lg:col-12 md:col-12">
                        <p-table [value]="conditions">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ 'app.status' | translate }}</th>
                                    <th>{{ 'app.verification' | translate }}</th>
                                    <th>{{ 'app.date' | translate }}</th>
                                    <th>{{ 'app.description' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-condition>
                                <tr>
                                    <td>{{ condition.resource!.clinicalStatus.coding[0].code }}</td>
                                    <td>{{ condition.resource!.verificationStatus.coding[0].code }}</td>
                                    <td>{{ condition.resource!.recordedDate }}</td>
                                    <td>{{ condition.resource!.code.coding[0].display }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>   
                    
                </p-tabPanel>

                <p-tabPanel header="{{ 'app.observations' | translate }}">
                    <div *ngIf="observations !== undefined && observations.length > 0" class="field col-12 lg:col-12 md:col-12">
                        <p-table [value]="observations">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{ 'app.status' | translate }}</th>
                                    <th>{{ 'app.category' | translate }}</th>
                                    <th>{{ 'app.date' | translate }}</th>
                                    <th>{{ 'app.description' | translate }}</th>
                                    <th>{{ 'app.value' | translate }}</th>
                                    <th>{{ 'app.unit' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-observation>
                                <tr>
                                    <td>{{ observation.resource!.status }}</td>
                                    <td>{{ observation.resource!.category !== undefined ? observation.resource!.category[0]!.coding[0].display : '' }}</td>
                                    <td>{{ observation.resource!.effectiveDateTime }}</td>
                                    <td>{{ observation.resource!.code.coding[0].display }}</td>
                                    <td *ngIf="observation.resource!.component !== undefined">{{ observation.resource!.component[0].valueQuantity !== undefined ? observation.resource!.component[1].valueQuantity.value + '/' + observation.resource!.component[0].valueQuantity.value  : '' }}</td>
                                    <td *ngIf="observation.resource!.component === undefined">{{ observation.resource!.valueQuantity !== undefined ? observation.resource!.valueQuantity.value : '' }}</td>
                                    <td *ngIf="observation.resource!.component !== undefined">{{ observation.resource!.component[0].valueQuantity !== undefined ? observation.resource!.component[1].valueQuantity.unit + '/' + observation.resource!.component[0].valueQuantity.unit  : '' }}</td>
                                    <td *ngIf="observation.resource!.component === undefined">{{ observation.resource!.valueQuantity !== undefined ? observation.resource!.valueQuantity.value : '' }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>   
                    
                </p-tabPanel>

            </p-tabView>
        </div>
        
    </p-card>

</div>