<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <p-table #dt [value]="patients" [columns]="patientCols" responsiveLayout="scroll" [rows]="10" 
                [globalFilterFields]="['resource.name.0.given.0']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedPatients" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Pacientes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="resource.identifier.2.value">Número <p-sortIcon field="resource.identifier.2.value"></p-sortIcon></th>
                        <th pSortableColumn="resource.name.0.given.0">Nome <p-sortIcon field="resource.name.0.given.0"></p-sortIcon></th>
                        <th pSortableColumn="resource.name.0.family.0">Sobrenome <p-sortIcon field="resource.name.0.family.0"></p-sortIcon></th>
                        <th pSortableColumn="resource.gender">Gênero <p-sortIcon field="resource.gender"></p-sortIcon></th>
                        <th pSortableColumn="resource.birthDate">Dt. Nascimento <p-sortIcon field="resource.birthDate"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-patient>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="patient"></p-tableCheckbox>
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Número</span>
                            {{patient.resource.identifier[2].value}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Nome</span>
                            {{patient.resource.name[0].given[0]}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Sobrenome</span>
                            {{patient.resource.name[0].family}}
                        </td>
                        <td style="width:15%; min-width:8rem;">
                            <span class="p-column-title">Gênero</span>
                            {{patient.resource.gender}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Dt. Nascimento</span>
                            {{patient.resource.birthDate}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-arrow-right" class="p-button-rounded mr-2" (click)="getRecord(patient.resource.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>

    </div>
</div>
